body {
  margin: 0;
  padding: 0;
  font-size: 62.5%;
}

#container {
  font-size: 1.3em;
}

#whiteboard {
  width: 100vw;
  height: 100vh;
  background-color: #FFFFFF;
  position: relative;
  z-index: 0;
  overflow: hidden;
}

#element-picker {
  position: absolute;
  z-index: 10;
  background-color: #22788D;
  color: #ffffff;
  font-family: Verdana, sans-serif;
  font-size: 0.9em;
}

#element-picker li {
  display: inline;
  padding: 5px;
  cursor: pointer;
}

#element-picker span {
  margin: 0 5px 0 5px;
  cursor: pointer;
}

.postit {
  position: absolute;
  z-index: 5;
}

.postit span {
  cursor: pointer;
}

.hidden {
  display: none;
}

.element-holder {
  position: absolute;
  min-width: 50px;
  min-height: 50px;
  background-color: #ffEEff;
  min-width: 100px;
  min-height: 75px;
  background-color: #ffffff;
  cursor: move;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.element-holder p {
  text-align: center;
}

.settings {
  width: 140px;
  background-color: #fff;
  padding: 10px;
  text-align: left;
  z-index: 999;
  position: absolute;
  top: 0px;
}

.image-input-preview {
  background-size: contain;
  background-repeat: no-repeat;
}

.delete {
  top: 0;
  margin-left: 10px;
  bottom: 0;
}

.btn {
  border: 0;
  cursor: pointer;
  background: #eb9093;
  color: white;
  padding: 5px 10px;
  width: 100px;
  text-align: center;
}

#addProject {
  position: absolute;
  right: 70%;
}

#register-button {
  right: 30px;
  position: absolute;
  top: 0px;
  z-index: 999;
}

#login, #logout {
  width: 100px;
  z-index: 999;
  position: absolute;
  right: 30px;
  top: 20px;
}

#register {
  width: 300px;
  z-index: 999;
  position: absolute;
  right: 50%;
  margin-right: -150px;
  top: 110px;
}

.selected {
  background-color: green;
}
