body{
    margin: 0;
    padding: 0;
    font-size: 62.5%;
}

#whiteboard {
    width: 100vw;
    height: 100vh;
    background-color: #CBE6F4;
    position: relative;
    z-index: 0;
    overflow: hidden;
}

#element-picker {
	position: absolute;
	z-index: 10;
}

#element-picker span {
	margin: 0 5px 0 5px;
	cursor: pointer;
}

.postit {
	position: absolute;
	z-index: 5;
}

.postit span {
	cursor: pointer;
}

.hidden {
	display: none;
}

.element-holder {
	position: absolute;
	min-width: 100px;
	min-height: 75px;
	background-color: #ffffff;
	cursor: move;

}

#whiteboardSettings{
	float: right;
	margin: 20px, 50px, 10px, 10px;
 	width: 120px;
    background-color: white; 
    text-align: center;
}

.image-input-preview{
	background-size: contain;
	background-repeat: no-repeat;
}
